# Ignore virtual environment
.venv/

# Ignore cache + build artifacts
__pycache__/
*.log
*.zip
*.csv

# Ignore Git metadata
.git/

# DVC cache files (safe to ignore)
*.dvc

# Model files
models/
.mlflow/
mlruns/

# DO NOT IGNORE THESE ANYMORE:
# reports/
# data/
# tests/
# dags/
# src/
