# Core Data & Utils
pandas==2.2.2
numpy==1.26.4
loguru==0.7.2

# OCR & Image processing
pillow==10.3.0
pytesseract==0.3.10

# Validation & Testing
great-expectations==0.18.12
pytest==8.3.2

# MLOps & Versioning
dvc==3.51.0
dvc[gdrive]==3.51.0
mlflow==2.14.3
scikit-learn==1.5.1

# Optional: Airflow plug-in utilities (safe to keep)
apache-airflow-providers-common-sql==1.14.0
apache-airflow-providers-postgres==5.10.0
